h1 {
    font-family: 'Indie Flower', cursive!important;
    font-size: 100px;
}

h2 {
font-family: 'Montserrat', sans-serif!important;
text-align: center;
}

h4 {
font-family: 'Montserrat', sans-serif!important;
text-align: center!important;
}

body, html {
    background-image: url(bg2.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    padding: 10px
}

#tonight {
    font-family: 'Indie Flower', cursive!important;
    text-align: center!important;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    background-color: rgb(239, 246, 248, 0.6);
    padding: 10px;
}

